favicon {
    width: 32px;
    height: 32px;
}

body{
	line-height: 1.5;
	font-family: 'thesans-b2-extralight', sans-serif;
	overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

/*Collection*/

.collection{
    width: 58%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.collection-card{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.img-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.img-card a{
    text-decoration: none;
}
.img-card img{
   width: 400px;
}

 .text-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 24%;
    margin-right: auto;
    transform: rotate(-90deg);
    margin-top: -2%;
    z-index: 100;
    position: absolute;
    
 }

 .text-card h3{
    font-size: 1rem;
    font-weight: 550;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-right: 5px;
 }

 .text-card h4{
    font-size: 1rem;
    font-weight: 320;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
 }
