favicon {
    width: 32px;
    height: 32px;
}

body{
	line-height: 1.5;
	font-family: 'thesans-b2-extralight', sans-serif;
	overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.collection-shop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
}

.collection-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
}

.collection-card{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.text-img-card{
    z-index: 100;
    position: absolute;
    margin-top: 180px;
    margin-left: 226px;
    transform: rotate(-90deg);
}
.text-img-card h5{
    font-size: 0.6rem;
    font-weight: 350;
    text-align: start;
    font-style: italic;
    text-transform: uppercase;
}

.img-card img{
    width: 300px;
    padding: 10px 4px;
}

.text-card{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 24px;
}

.text-card h2{
    font-size: 1.4rem;
    font-weight: 550;
    letter-spacing: 0.05rem;
    margin-top: 0.5rem;
    text-align: start;
}

.text-card h3{
    font-size: 1.2rem;
    font-weight: 350;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
    text-align: start;
}

.text-card h4{
    font-size: 1.2rem;
    font-weight: 350;
    letter-spacing: 0.2rem;
    text-align: start;
}

.text-card p{
    font-size: 1rem;
    font-weight: 350;
    text-align: justify;

}


.img-card-gallery-product img{
width: 300px;

}

/*responsive*/
@media (max-width: 2560px){}
@media (max-width: 1440px){}
@media (max-width: 1024px){}
@media (max-width: 768px){}
@media (max-width: 425px){}
@media (max-width: 375px){}
@media (max-width: 325px){

}