%flexboxRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

%.boton{
    border: solid 0.75rem #507435;
    width: fit-content;
    background-color: transparent;
}

/*Mixins*/
@mixin cuadrado ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin flexbox ($direction, $justify, $wrap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: center;
}

@mixin fontSize ($size){
    font-size: ($size * 0.75rem);
}

p{
    @include fontSize(1);
}